body {
    margin: 60px auto;
    width: 1030px;
}
header {
    background-color: #FFF;
    height: 100px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 16px;
    color: black;
}
section:after {
    content: "";
    display: table;
    clear: both;
}
h1 {
    font-size: 2.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 1.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h4 {
    font-size: 1.1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #333;
}

hr{
    color: white;
}

a:link {
    text-decoration: none;
}
.pad {
    padding: 10px;
}
.pad_small {
    padding: 5px;
}
.pad_20 {
    padding: 20px;
}
.pad_15 {
    padding: 15px;
}
.section_font{
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}


table, th, td {
    border: 1px solid white;
}

table {
    background-color: #DDD;
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 25px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #555;
    color: #FFF;
}
td {
    height: 40px;
    vertical-align: center;
    padding-left: 1px;
    padding-right: 1px;
    text-align: center;
}
audio {
    width: 200px;
    height: 25px;
}

div.menu_box{
    background-color: white;
    border: 0.5px solid gray;
    padding-top: 20px;
    padding-bottom: 20px;
}
.accordion {
    background-color: white;
    color: #999;
    cursor: pointer;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 30%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';  
    font-weight: bold;
    transition: 0.4s;
}
.active, .accordion:hover {
    color: #000; 
}
.panel {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    display: none;
    background-color: white;
    overflow: hidden;
}

ul.menu_out {
    padding-left: 0px; 
    padding-top: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 0.9em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #999;
    list-style-type: none;
}

ul.menu_in {
    padding-top: 10px; 
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.9em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #999;
    list-style-type: none;
}
.accordion_menu {
    background-color: white;
    color: #999;
    cursor: pointer;
    padding-top: 0px;
    padding-bottom: 10px;
    width: 25%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';  
    font-weight: bold;
    transition: 0.4s;
}
.active, .accordion_menu:hover {
    color: #000; 
}

#topBtn_left {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  font-size: 14px;
  border: 2px solid gray;
  outline: none;
  background-color: white;
  color: gray;
  cursor: pointer;
  padding: 10px;
  border-radius: 25px;
}
#topBtn_left:hover {
  background-color: white;
}
#topBtn_right {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 14px;
  border: 2px solid gray;
  outline: none;
  background-color: white;
  color: gray;
  cursor: pointer;
  padding: 10px;
  border-radius: 25px;
}

#topBtn_right:hover {
  background-color: white;
}

div.plot_box{
    background-color: white;
    border: 0.5px solid gray;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 0px;
}


div.plot_scroll {
    background-color: white;
    width: 100%;
    height: 250px;
    overflow: scroll;
    border-color: 1px solid gray;
}

